<form action="" method="post">
   <h1>Add new category</h1>
   <input type="text" name="name"
   required
   placeholder="Enter category name">
   <br><br>
   <input type="text" name="description"
   required
   placeholder="Enter category description">
   <input type="submit" value="Add">
</form>

