<form action="" method="post">
   <h1>Edit category</h1>
   <input type="text" name="name" id="" required placeholder="Enter category name" value="{{ category.name }}">
   <br><br>
   <input type="text" name="description" id="" required placeholder="Enter category description" value="{{ category.description }}">
   <input type="submit" value="Edit">
</form>